div.containerplus{
  background-color: black;
  width:auto;
  height:125px;
}

div.footer{
  background-color: black;
  width:100%;
  height:125px;
  position:absolute;
}

div.footertext{
  color: white;
  margin-left:42%;
}

div.image{
  padding-top: 45px;
  padding-bottom: 50px;
  margin-left: -190px;
}

div.icon{
  opacity: 0.7;
  padding: 0;
  width:auto;
}

div:hover.icon{
    transition: .3s;
    opacity: 1;
}

h1 span{
  font-size:52px;
  margin-top:-20%;
}

ul.navigation> li > a{
  border-style: none;
  margin-top:-44px;
  font-weight: bold;
  background-color: #C10000;
  font-family: 'Rockwell';
  height:43px;
  width: 110px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  color: #FFF;
}

ul.navigation> li > a:hover{
  border-style: solid;
  border-width: 1.5px;
  background-color: white;
  color:#C10000;
}

li.dropdown:hover > .dropdown-toggle{
  background-color: white;
  color: #C10000;
}

li.dropdown:hover > .dropdown-menu{
  display: block;
  margin-right: 19px;
  height: 85px;
  width:120px;
}

li.dropdown:hover> .dropdown-menu >li  {
  padding-top: 8px;
  font-size: 15px;
  font-family: 'Rockwell';
}

li.dropdown:hover> .dropdown-menu >li > a:hover{
  font-weight: bold;

}

div.signUpPage{
  margin-left: -190px;
  margin-bottom: -370px;
  margin-top: -100px;
}

div.memberPage{
  display:flex;
  width:100%;
  height:100%;
  min-height: 600px;
  min-width: 100%;
  background:url(memberLogin.jpg) center center no-repeat;
  /*background:center center no-repeat;*/
  background-size:cover;
  background-position: center;
  background-attachment: fixed; /*Makes the picture static*/
  color:#fff;
  align-items:center;
  justify-content:center;
  margin: 0;
  padding: 0;
}

div.trainerPage{
  display:flex;
  width:100%;
  height:100%;
  min-height: 600px;
  min-width: 100%;
  background:url(trainerLogin.jpg) center center no-repeat;
  /*background:center center no-repeat;*/
  background-size:cover;
  background-position: center;
  background-attachment: fixed; /*Makes the picture static*/
  color:#fff;
  align-items:center;
  justify-content:center;
  margin: 0;
  padding: 0;
}
div.header{
  color: white;
  font-family: 'Rockwell';
  margin-bottom: 3%;
}

div.registerForm{
  width: 500px;
  margin-left:335px;
  margin-top: 20px;
  bottom: 480px;
}

div.loginForm{
  width: 500px;
  margin-bottom: 5%;
}

div.settingForm{
  width: 500px;
  margin-bottom: 2%;
}

button.signUpBtn{
  width: 470px;
  height: 70px;
  font-family: 'RockWell';
  font-size: 23px;
  color: white;
  background-color: #C10000;
  border-color: #C10000;
  border-style: solid;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 10px;
  margin-top:8%;
}

button.signUpBtn:active{
  background-color: white;
  color:#C10000;
  border-color: white;
}

div.memberHome{
  margin-right: 15%;
  margin-top: -5%;
}

div.trainerHome{
  margin-right: 10%;
  margin-top: -5%;
}

button.setting{
  width: 220px;
  height: 70px;
  font-family: 'RockWell';
  font-size: 23px;
  color: white;
  background-color: #C10000;
  border-color: #C10000;
  border-style: solid;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 10px;
}

button.setting:active{
  background-color: white;
  color:#C10000;
  border-color: white;
}

h3 span{
  position: absolute;
  color: white;
  margin-left: 200px;
  font-family: 'Rockwell';
  font-size: 40px;
  margin-top: 20px;
  width: 780px;
  text-align: justify;
  margin-bottom: 50px;
}

.tableStyle{
  font-size: 23px;
  color: black;
  background-color: white;
  border-color: black;
}

.table-bordered > tbody > tr >td{
  color: white;
  font-size: 18px;
}

.bgimg{
  display:flex;
  width:100%;
  height:100%;
  min-height: 600px;
  min-width: 100%;
  background:url(training.jpg) center center no-repeat;
  /*background:center center no-repeat;*/
  background-size:cover;
  background-position: center;
  background-attachment: fixed; /*Makes the picture static*/
  color:#fff;
  align-items:center;
  justify-content:center;
  margin: 0;
  padding: 0;
}

#updatebgimg{
  display:flex;
  width:100%;
  height:100%;
  min-height: 600px;
  min-width: 100%;
  background:url(training3.jpg) center center no-repeat;
  /*background:center center no-repeat;*/
  background-size:cover;
  background-position: center;
  background-attachment: fixed; /*Makes the picture static*/
  color:#fff;
  align-items:center;
  justify-content:center;
  margin: 0;
  padding: 0;

}

#reviewbgimg{
  display:flex;
  width:100%;
  height:100%;
  min-height: 600px;
  min-width: 100%;
  background:url(trainer.jpg) center center no-repeat;
  /*background:center center no-repeat;*/
  background-size:cover;
  background-position: center;
  background-attachment: fixed; /*Makes the picture static*/
  color:#fff;
  align-items:center;
  justify-content:center;
  margin: 0;
  padding: 0;

}

span.welcome{
  font-family: 'Rockwell';
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#welcome{
  font-family: 'Rockwell';
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}


table.viewmember{
  background-color: white;
  font: black 16px;
  border-spacing: 15px;
  table-layout: fixed;
  color: black;

}

.navButton {
padding: 20px;
height:70px;
width: 280px;
margin-left: 3.5%;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #C10000;
color: #fff;
border: 1px solid #C10000;
border-radius: 10px;
overflow-x: hidden;
overflow-y: hidden;
position: relative;
}

.navButton:hover {
background-color: white;
color:#C10000;
border: 1px solid #fff;
overflow-x: hidden;
overflow-y: hidden;
}

.navButton:focus {

padding: 20px;
height:70px;
width: 280px;
margin-left: 3.5%;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #C10000;
color: #fff;
border: 1px solid #C10000;
border-radius: 10px;
overflow-x: hidden;
overflow-y: hidden;
position: relative;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-title{
  color: black;
}

label{
  color:black;
}
